


/* #region *** M Query ***  */
@media  screen and (max-width:1024px) {

    .albums {
        flex-wrap: nowrap;
    }

    .delete_first {
        display: none;
    }

}
/* #endregion *** M Query ***  */

/* #region *** M-S Query ***  */

@media  screen and (max-width:768px) {

    .delete_second {
        display: none;
    }

}
/* #endregion *** M-S Query ***  */

/* #region *** S Query ***  */

@media  screen and (max-width:566px) {

    .delete_third {
        display: none;
    }

}

/* #endregion *** S Query ***  */

/* #region *** XXS Query ***  */

@media  screen and (max-width:320px) {

    .albums {
        flex-wrap: wrap;
    }

    [class^="delete_"] {
        display: block;
    } 

}

/* #endregion *** XXS Query ***  */

