:root {
    --aside_icon-color: #D2D2D2;
    --aside_text-color: #717171;
    --lighter-color: #FFFFFF;
    --success-color: #ADFF2F;
    --plus_btn-color: #A3A3A3;
    --profile-bgcolor: #808080;
    --darker-color: #000000;
    --main_menu_text-color: #7D7F84;
    --main-bgcolor: #141922;
    --upgrade_row-bgcolor: #080b128a;




}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region *** Utility ***  */

.row {
    display: flex;
}

.direction_col {
    flex-direction: column;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.ml_5 {
    margin-left: 5px;
}

.pl_1rem {
    padding-left: 1rem;
}

/* #region *** To remove ***  */

.violet {
    background-color: rgb(255, 147, 255);
}

.red {
    background-color: rgb(252, 67, 67);
}

.green {
    background-color: rgb(108, 219, 108);
}

/* #endregion *** To remove ***  */

/* #endregion *** Utility ***  */

/* #region *** Common ***  */

body {
    font-family: 'Montserrat', sans-serif;
}

/* #endregion *** Common ***  */

/* #region *** Main ***  */

/* #region Aside  */

.left_aside {
    width: 15%;
    height: calc(100vh - 100px);
    background-color: var(--darker-color);
}

.left_aside a {
    text-decoration: none;
    font-weight: 600;
    color: var(--aside_text-color);
    font-size: 12px;
}

.left_aside>.logo img {
    max-width: 165px;
    padding: 1rem;
}

.left_aside>.aside_menu {
    row-gap: 10px;
}

.aside_menu .aside_menu_items {
    align-items: center;
    column-gap: 5px;
    padding-left: 1rem;
}

.left_aside>.aside_menu svg {
    width: 30px;
}

.left_aside path {
    fill: var(--aside_icon-color);
}


.aside_menu>.home {
    border-left: 3px solid var(--success-color);
}

.aside_menu>.home a {
    color: var(--lighter-color);
}

.left_aside>.aside_playlist {
    padding: 1rem;
}

.aside_playlist {
    row-gap: 10px;
}

.aside_playlist h3 {
    color: var(--lighter-color);
    font-size: 12px;
}

.new_playlist :first-child {
    background-color: var(--plus_btn-color);
    font-size: 20px;
    padding: 4px;
    color: black;
}


.left_aside>ul {
    list-style: none;
    padding: 0 1rem;
    row-gap: 1.5rem;
}

.left_aside>.aside_bottom {
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
}

.left_aside>.aside_bottom svg {
    width: 20px;
}

.aside_bottom>.download_app {
    align-items: center;
    column-gap: 5px;
}

.aside_bottom>.download_app ,
.aside_bottom>.profile {
    padding: 0.5rem 0;
}

.aside_bottom>.profile {
    align-items: center;
    column-gap: 10px;
}

.aside_bottom>.profile img {
    background-color: var(--profile-bgcolor);
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.aside_bottom>.profile span {
    color: var(--lighter-color);
    font-weight: 600;
    font-size: 12px;
}

.left_aside {
    overflow: hidden;
}

.left_aside>.name_playlist {
    flex-grow: 1;
    overflow: auto;
}

.aside_bottom hr {
    border-color: var(--aside_text-color);
}

/* #endregion Aside  */

/* #region Big_container  */

.big_container {
    width: 85%;
    height: calc(100vh - 100px);
    background-color: var(--main-bgcolor);
}

.big_container>.upgrade {
    width: 100%;
    padding: 1rem;
    justify-content: end;
    background-color: var(--upgrade_row-bgcolor);
}

.big_container .btn_upgrade {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.4rem 1.5rem;
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 10px;
    align-self: flex-end;
}

.big_container>.navbar {
    width: 100%;
    justify-content: center;
}

.big_container>.navbar ul {
    list-style: none;
}

.big_container>.navbar li {
    display: inline-block;
    padding: 0.5rem;
}

.big_container>.navbar a {
    text-decoration: none;
    font-size: 12px;
    color: var(--main_menu_text-color);
    font-weight: 600;
}

.big_container>.navbar hr {
    display: flex;
    width: 30px;
    margin: 0 auto;
    border-color: var(--success-color);
}

.big_container h2 {
    color: var(--lighter-color);
    font-size: 20px;
    padding: 1rem;
}

.big_container h3 {
    font-size: 15px;
    padding: 0.5rem;
    color: var(--lighter-color);
}

.big_container span {
    color: var(--main_menu_text-color);
    font-size: 12px;
    font-weight: 600;
}

.recently_played>.albums , 
.create_for_you>.albums {
    padding: 1rem;
    column-gap: 1rem;
}

.albums>.album {
    align-items: center;
    width: calc(100% / 6);
}

.album>img {
    max-width: 100%;
}

/* #endregion Big_container  */

/* #endregion *** Main ***  */

/* #region *** Footer ***  */

footer {
    height: 100px;
}

/* #endregion *** footer ***  */