:root {
    --aside_icon-color: #D2D2D2;
    --aside_text-color: #717171;
    --lighter-color: #FFFFFF;
    --success-color: #ADFF2F;
    --plus_btn-color: #A3A3A3;
    --profile-bgcolor: #808080;
    --darker-color: #000000;
    --main_menu_text-color: #7D7F84;
    --main-bgcolor: #141922;
    --upgrade_row-bgcolor: #080b128a;
    --footer_left_icon-color: #878787;
    --footer-bgcolor: #282828;
    --time_bar-bgcolor: #5A5A5A;
    --time_bar-color: #C1C1C1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region *** Utility ***  */

.row {
    display: flex;
}

.direction_col {
    flex-direction: column;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.ml_5 {
    margin-left: 5px;
}

.pl_1rem {
    padding-left: 1rem;
}

/* #endregion *** Utility ***  */

/* #region *** Common ***  */

body {
    font-family: 'Montserrat', sans-serif;
}

/* #endregion *** Common ***  */

/* #region *** Main ***  */

/* #region Aside  */

.left_aside {
    width: 250px;
    height: calc(100vh - 80px);
    background-color: var(--darker-color);
}

.left_aside a {
    text-decoration: none;
    font-weight: 600;
    color: var(--aside_text-color);
    font-size: 14px;
}

.left_aside>.logo img {
    max-width: 165px;
    padding: 1rem;
}

.left_aside>.aside_menu {
    row-gap: 10px;
}

.aside_menu .aside_menu_items {
    align-items: center;
    column-gap: 5px;
    padding-left: 1rem;
}

.left_aside>.aside_menu svg {
    width: 30px;
}

.left_aside path {
    fill: var(--aside_icon-color);
}


.aside_menu>.home {
    border-left: 3px solid var(--success-color);
}

.aside_menu>.home a {
    color: var(--lighter-color);
}

.left_aside>.aside_playlist {
    padding: 1.5rem 0 1.5rem 1rem;
    
}

.aside_playlist {
    row-gap: 10px;
}

.aside_playlist h3 {
    color: var(--lighter-color);
    font-size: 14px;
}

.new_playlist #new_playlist_i {
    background-color: var(--plus_btn-color);
    font-size: 20px;
    padding: 4px;
    color: black;
}

.left_aside>ul {
    list-style: none;
    padding: 0 1rem;
    row-gap: 1.5rem;
}

.left_aside>.aside_bottom {
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
}

.left_aside>.aside_bottom svg {
    width: 20px;
}

.aside_bottom>.download_app {
    align-items: center;
    column-gap: 5px;
}

.aside_bottom>.download_app ,
.aside_bottom>.profile {
    padding: 0.5rem 0;
}

.aside_bottom>.profile {
    align-items: center;
    column-gap: 10px;
}

.aside_bottom>.profile img {
    background-color: var(--profile-bgcolor);
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.aside_bottom>.profile span {
    color: var(--lighter-color);
    font-weight: 600;
    font-size: 14px;
}

.left_aside {
    overflow: hidden;
}

.left_aside>.name_playlist {
    flex-grow: 1;
    overflow: auto;
}

.aside_bottom hr {
    border-color: var(--aside_text-color);
}

/* *** Hover Aside ***  */

.home:hover #home_path ,
.search:hover #search_path ,
.library:hover #library_path 
{
    fill: var(--lighter-color);
}

.home:hover #home_a ,
.search:hover #search_a ,
.library:hover #library_a
{
    color: var(--lighter-color);
}

.new_playlist:hover #new_playlist_i {
    background-color: var(--lighter-color);
}

.new_playlist:hover #new_playlist_a {
    color: var(--lighter-color);
}

.name_playlist>li:hover .playlist {
    color: var(--lighter-color);
}

.download_app:hover #download_path {
    fill: var(--lighter-color);
}

.download_app:hover #download_a {
    color: var(--lighter-color);
}

/* #endregion Aside  */

/* #region Big_container  */

.big_container {
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    background-color: var(--main-bgcolor);
    overflow: hidden;
}

.scroll {
    overflow: auto;
}

.big_container .upgrade {
    width: 100%;
    padding: 1.5rem;
    justify-content: end;
    background-color: var(--upgrade_row-bgcolor);
}

.big_container .btn_upgrade {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.4rem 1.5rem;
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 10px;
    align-self: flex-end;
}

.btn_upgrade:hover {
    transform: scale(1.2);
}

.big_container .navbar {
    width: 100%;
    justify-content: center;
}

.big_container .navbar ul {
    list-style: none;
}

.big_container .navbar li {
    display: inline-block;
    padding: 0.5rem;
}

.navbar a {
    text-decoration: none;
    font-size: 12px;
    color: var(--main_menu_text-color);
    font-weight: 600;
}

.navbar hr {
    display: flex;
    width: 30px;
    margin: 0 auto;
    border-color: var(--success-color);
}

.big_container h2 {
    color: var(--lighter-color);
    font-size: 20px;
    padding: 1rem;
}

.big_container h3 {
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--lighter-color);
}

.big_container span {
    color: var(--main_menu_text-color);
    font-size: 14px;
    font-weight: 600;
}

.recently_played>.albums , 
.create_for_you>.albums ,
.more_popular>.albums {
    padding: 1rem;
    column-gap: 1rem;
}

.albums>.album {
    width: calc(100% / 6);
}

.album a {
    align-items: center;
    text-decoration: none;
}

.album img {
    max-width: 100%;
}

.more_popular img {
    border-radius: 50%;
}

#play_img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: var(--lighter-color);
    display: none;
}

.album:hover .cover {
    filter: brightness(0.5);
}

.album:hover #play_img {
    display: block;
}


/* #endregion Big_container  */

/* #endregion *** Main ***  */

/* #region *** Footer ***  */

footer {
    height: 80px;
    background-color: var(--footer-bgcolor);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer a {
    text-decoration: none;
}

footer img {
    max-width: 50px;
}

footer span {
    font-size: 12px;
    font-weight: 600;
}

/* *** Menu Left ***  */

.menu_left h3 {
    font-size: 14px;
    font-weight: 600;
    color: var(--lighter-color);
}

.menu_left span {
    color: var(--footer_left_icon-color);
}

footer .menu_left {
    column-gap: 10px;
    align-items: center;
}

.menu_left>.song_name {
    justify-content: center;
    margin-right: 1rem;
}

.menu_left i {
    color: var(--footer_left_icon-color);
}

.subtitle_song:hover {
    text-decoration: underline;
    color: var(--lighter-color);
}

.heart:hover ,
.folder:hover {
    color: var(--lighter-color);
}



/* *** Menu Central ***  */

footer>.menu_central {
    align-items: center;
    row-gap: 5px;
}

footer>.menu_central i {
    color: var(--lighter-color);
}

footer>.menu_central span {
    color: var(--lighter-color);
}

.menu_central>.player {
    column-gap: 2rem;
    font-size: 20px;
    align-items: center;
}

#play {
    font-size: 30px;
}

#play:hover {
   transform: scale(1.1);
}

.menu_central .music_time {
    column-gap: 10px;
    align-items: center;
}

.music_time .time_bar {
    width: 400px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--time_bar-bgcolor);
}

.time_bar .time_played {
    top: 0;
    left: 0;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--time_bar-color);
}

.time_bar .ball_time {
    top: -5px;
    left: 98px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--lighter-color);
    display: none;
}

.time_bar:hover .time_played {
    background-color: var(--success-color);
}

.time_bar:hover .ball_time {
    display: block;
}

/* *** Menu Right ***  */

footer>.menu_right {
    column-gap: 10px;
    align-items: center;
}

.menu_right i {
    color: var(--lighter-color);
}

.menu_right .volume_bar {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--time_bar-bgcolor);
}

.volume_bar .volume_current {
    top: 0;
    left: 0;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--time_bar-color);
}

.volume_bar .ball_volume {
    top: -5px;
    left: 28px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--lighter-color);
    display: none;
}

.volume_bar:hover .volume_current {
    background-color: var(--success-color);
}

.volume_bar:hover .ball_volume {
    display: block;
}

/* #endregion *** footer ***  */

/* *** Md Query ***  */
@media  screen and (max-width:1024px) {

    .albums {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .albums>.album {
        width: calc(100% / 4.3);
    }
}